In [1]:
import os
from dotenv import load_dotenv
import requests
import pandas as pd
import matplotlib as plt
import json
from fredapi import Fred

In [2]:
load_dotenv()
fred_api_key = os.getenv("FRED_API_KEY")
fred = Fred(api_key=fred_api_key)

Moving average:

    A calculation that smoothes a volatile data series by averaging neighboring data points.

Seasonal adjustment:

    The type of smoothing technique in which seasonal fluctuations in the data are estimated and removed.

Smoothing technique:

    A statistical operation performed on economic data series to reduce or eliminate short-term volatility.

In [13]:
df_unemp = fred.search('unemployment rate metropolitan', filter=('frequency','Monthly'))
df_unemp = df_unemp.query('seasonal_adjustment == "Smoothed Seasonally Adjusted" and units == "Percent"')
# filter for only unemployment rate in title
df_unemp = df_unemp.loc[df_unemp['title'].str.contains('Unemployment Rate')]

In [15]:
df_unemp.shape

(348, 15)

In [14]:
df_unemp

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
AUST448UR,AUST448UR,2024-01-30,2024-01-30,"Unemployment Rate in Austin-Round Rock, TX (MSA)",1990-01-01,2023-11-01,Monthly,M,Percent,%,Smoothed Seasonally Adjusted,SSA,2024-01-05 14:54:09-06:00,6,None
DETR826UR,DETR826UR,2024-01-30,2024-01-30,"Unemployment Rate in Detroit-Warren-Dearborn, ...",1990-01-01,2023-11-01,Monthly,M,Percent,%,Smoothed Seasonally Adjusted,SSA,2024-01-05 14:54:14-06:00,3,None
CHIC917UR,CHIC917UR,2024-01-30,2024-01-30,"Unemployment Rate in Chicago-Naperville-Elgin,...",1990-01-01,2023-11-01,Monthly,M,Percent,%,Smoothed Seasonally Adjusted,SSA,2024-01-05 14:54:25-06:00,3,None
SEAT653UR,SEAT653UR,2024-01-30,2024-01-30,"Unemployment Rate in Seattle-Tacoma-Bellevue, ...",1990-01-01,2023-11-01,Monthly,M,Percent,%,Smoothed Seasonally Adjusted,SSA,2024-01-05 14:54:05-06:00,4,None
DALL148UR,DALL148UR,2024-01-30,2024-01-30,Unemployment Rate in Dallas-Fort Worth-Arlingt...,1990-01-01,2023-11-01,Monthly,M,Percent,%,Smoothed Seasonally Adjusted,SSA,2024-01-05 14:54:27-06:00,3,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
HINE913UR,HINE913UR,2024-01-30,2024-01-30,"Unemployment Rate in Hinesville, GA (MSA)",1990-01-01,2023-11-01,Monthly,M,Percent,%,Smoothed Seasonally Adjusted,SSA,2024-01-05 14:54:33-06:00,1,None
OCEA134UR,OCEA134UR,2024-01-30,2024-01-30,"Unemployment Rate in Ocean City, NJ (MSA)",1990-01-01,2023-11-01,Monthly,M,Percent,%,Smoothed Seasonally Adjusted,SSA,2024-01-05 14:54:44-06:00,1,None
NAPA906UR,NAPA906UR,2024-01-30,2024-01-30,"Unemployment Rate in Napa, CA (MSA)",1990-01-01,2023-11-01,Monthly,M,Percent,%,Smoothed Seasonally Adjusted,SSA,2024-01-05 14:55:20-06:00,1,None
MORR147UR,MORR147UR,2024-01-30,2024-01-30,"Unemployment Rate in Morristown, TN (MSA)",1990-01-01,2023-11-01,Monthly,M,Percent,%,Smoothed Seasonally Adjusted,SSA,2024-01-05 14:54:42-06:00,1,None
MADE406UR,MADE406UR,2024-01-30,2024-01-30,"Unemployment Rate in Madera, CA (MSA)",1990-01-01,2023-11-01,Monthly,M,Percent,%,Smoothed Seasonally Adjusted,SSA,2024-01-05 14:55:22-06:00,1,None

In [18]:
unemp_result = df_unemp[df_unemp['title'].str.endswith('(MSA)')]

In [19]:
unemp_result.shape

(347, 15)

In [20]:
unemp_result.id.unique()

array(['AUST448UR', 'DETR826UR', 'CHIC917UR', 'SEAT653UR', 'DALL148UR',
       'ATLA013UR', 'HOUS448UR', 'PHOE004UR', 'JACK212UR', 'TAMP312UR',
       'CHAR737UR', 'STLUR', 'DENV708UR', 'PITT342UR', 'MPHUR',
       'MINN427UR', 'LASV832UR', 'CINC139UR', 'SANF806UR', 'LOSA106UR',
       'NEWY636UR', 'ORLA712UR', 'CLEV439UR', 'INDI918UR', 'KANS129UR',
       'COLU139UR', 'PORT941UR', 'MIAM112UR', 'CHAT847UR', 'WASH911UR',
       'ROCH336UR', 'SANA748UR', 'RICH051UR', 'HUNT601UR', 'SANJ906UR',
       'LOIUR', 'MADI555UR', 'BOIS216UR', 'TUCS004UR', 'FASUR',
       'MYRT845UR', 'RALE537UR', 'TULS140UR', 'BUFF336UR', 'TOLE739UR',
       'ALBU735UR', 'SHRE322UR', 'OMAH531UR', 'OKLA440UR', 'WICH620UR',
       'GRAN326UR', 'RENO932UR', 'SAVA313UR', 'SYRA036UR', 'COLU945UR',
       'COLO808UR', 'NEWO322UR', 'ASHE737UR', 'NASH947UR', 'BALT524UR',
       'PHIL942UR', 'SAND706UR', 'SALT649UR', 'BIRM801UR', 'GREE637UR',
       'MILW355UR', 'DAYT339UR', 'CHAR745UR', 'DESM719UR', 'FARG038UR',
       'LINC731UR', 'LEWI316UR', 'FLIN426UR', 'CAPE912UR', 'ELCE906UR',
       'EUGE641UR', 'DURH537UR', 'OCAL112UR', 'BAKE506UR', 'VISA306UR',
       'OLYM553UR', 'ALLE942UR', 'DELT612UR', 'STOC706UR', 'KNOX947UR',
       'ROME613UR', 'LRSUR', 'SCRA542UR', 'READ742UR', 'SPIUR', 'ELZUR',
       'ELPA348UR', 'FAYE137UR', 'SIOU646UR', 'LAKE322UR', 'JACK128UR',
       'TREN934UR', 'ANDE318UR', 'COLL748UR', 'PBFUR', 'SPRI117UR',
       'LUBB148UR', 'DAVE317UR', 'ELKH118UR', 'AUGU213UR', 'SANT206UR',
       'DOTH001UR', 'BILL730UR', 'RIVE106UR', 'MOBI601UR', 'MONT801UR',
       'FORT018UR', 'CORP548UR', 'BELL353UR', 'AKRO439UR', 'LANC542UR',
       'BURL537UR', 'CHEY956UR', 'YUMA704UR', 'WATE919UR', 'GAIN512UR',
       'PORT912UR', 'WACO348UR', 'VIRG251UR', 'JANE555UR', 'LAKE412UR',
       'DOVE110UR', 'MACO413UR', 'GREE845UR', 'COEU616UR', 'TALL212UR',
       'GREE555UR', 'COLU913UR', 'MCAL548UR', 'BOUL508UR', 'HARR551UR',
       'ITHA036UR', 'MEDF741UR', 'JOHN747UR', 'YOUN639UR', 'ROCK417UR',
       'VICT048UR', 'DULU227UR', 'WILM937UR', 'VINE234UR', 'ATHE013UR',
       'SACR906UR', 'FORT608UR', 'LAFA118UR', 'LEXI421UR', 'MIDL248UR',
       'SOUT718UR', 'KILL648UR', 'BATO922UR', 'PENS812UR', 'ROAN251UR',
       'JACK337UR', 'HUNT554UR', 'LANS626UR', 'ERIE542UR', 'FTSUR',
       'MORG054UR', 'ROCH327UR', 'FORT012UR', 'DANV117UR', 'FRES406UR',
       'CLHUR', 'OXNA106UR', 'GREE737UR', 'JEFUR', 'SALE441UR',
       'ANCH202UR', 'RAPI646UR', 'BREM753UR', 'DECA517UR', 'APPL555UR',
       'GRAN308UR', 'GREE508UR', 'SANT106UR', 'BING736UR', 'CEDA319UR',
       'KENN453UR', 'HARR442UR', 'BOWUR', 'WINS137UR', 'CASP256UR',
       'ANNA426UR', 'CHAR654UR', 'SPAR945UR', 'SPOK053UR', 'FLAG304UR',
       'EVNUR', 'KOKO018UR', 'HATT628UR', 'BATT926UR', 'UTIC536UR',
       'AMAR148UR', 'KALA026UR', 'GULF028UR', 'SALI524UR', 'SANT006UR',
       'MERC906UR', 'KANK117UR', 'TEXUR', 'PARK654UR', 'TYLE348UR',
       'BLOO017UR', 'PROV349UR', 'BEND441UR', 'ABIL148UR', 'BEAU148UR',
       'LARE748UR', 'HOLL126UR', 'TUSC201UR', 'VALL706UR', 'ANNI501UR',
       'GRAN238UR', 'NAPL912UR', 'AUBU201UR', 'STCL027UR', 'ATLA134UR',
       'MUSK726UR', 'ODES248UR', 'CLMUR', 'IDAH816UR', 'SALI506UR',
       'CARS132UR', 'CHIC006UR', 'LAWT040UR', 'HSPUR', 'OGDE249UR',
       'SPRI239UR', 'AMES119UR', 'BROW148UR', 'GADS401UR', 'TOPE820UR',
       'YORK642UR', 'PALM312UR', 'LAFA122UR', 'BAYC026UR', 'WICH648UR',
       'ALBA513UR', 'HONO115UR', 'SEBA612UR', 'LEBA142UR', 'CANT939UR',
       'COLU018UR', 'OWNUR', 'YAKI453UR', 'STGE149UR', 'JORUR',
       'STJO129UR', 'PANA412UR', 'MONR722UR', 'LONG948UR', 'FAIR802UR',
       'SAGI926UR', 'ALBA536UR', 'HICK837UR', 'JACUR', 'VALD613UR',
       'REDD806UR', 'DALT113UR', 'HAGE124UR', 'GOLD137UR', 'CHAR851UR',
       'IOWA919UR', 'SUMT945UR', 'MUNC618UR', 'GREA530UR', 'LIMA639UR',
       'DECA401UR', 'SIOU519UR', 'PEOR917UR', 'RACI555UR', 'FLOR501UR',
       'JOPL929UR', 'LAWR920UR', 'BLOO018UR', 'PRES104UR', 'CLEV447UR',
       'ELMI336UR', 'GAIN513UR', 'MODE706UR', 'FARM135UR', 'TERR418UR',
       'CHAM517UR', 'YUBA706UR', 'PUNT412UR', 'SHEB155UR', 'MONR726UR',
       'PUEB308UR', 'KING747UR', 'CUMB024UR', 'SANL006UR', 'JOHN742UR',
       'WHEE554UR', 'SANT135UR', 'WARN513UR', 'SHER348UR', 'DUBU219UR',
       'SANA648UR', 'STAT342UR', 'LACR155UR', 'BISM938UR', 'EAUC755UR',
       'BRUN213UR', 'ROCK537UR', 'FLOR545UR', 'SARA212UR', 'WILL742UR',
       'LONG053UR', 'WEIR239UR', 'HANF206UR', 'PALM412UR', 'LOGA849UR',
       'LASC735UR', 'LYNC351UR', 'MISS530UR', 'WENA353UR', 'BLAC951UR',
       'KING736UR', 'MICH118UR', 'PASC728UR', 'WINC051UR', 'DANV251UR',
       'POUG136UR', 'MANS939UR', 'WAUS155UR', 'JACK126UR', 'NILE626UR',
       'GLEN036UR', 'ALTO042UR', 'CORV741UR', 'ANDE345UR', 'SAND739UR',
       'FOND555UR', 'POCA516UR', 'ALEX722UR', 'HOUM322UR', 'OSHK755UR',
       'MOUN553UR', 'HINE913UR', 'OCEA134UR', 'NAPA906UR', 'MORR147UR',
       'MADE406UR'], dtype=object)

In [21]:
all_result =[]

for id in unemp_result.index:
    result = fred.get_series(id)
    result = result.to_frame(name = id)
    all_result.append(result)

In [22]:
all_result[1]

            DETR826UR
1990-01-01        7.6
1990-02-01        7.6
1990-03-01        7.5
1990-04-01        7.6
1990-05-01        7.6
...               ...
2023-07-01        3.0
2023-08-01        3.2
2023-09-01        3.4
2023-10-01        3.8
2023-11-01        4.1

[407 rows x 1 columns]

In [23]:
unemp_state = pd.concat(all_result, axis=1)

In [24]:
unemp_state.tail()

,AUST448UR,DETR826UR,CHIC917UR,SEAT653UR,DALL148UR,ATLA013UR,HOUS448UR,PHOE004UR,JACK212UR,TAMP312UR,...,POCA516UR,ALEX722UR,HOUM322UR,OSHK755UR,MOUN553UR,HINE913UR,OCEA134UR,NAPA906UR,MORR147UR,MADE406UR
2023-07-01,3.5,3.0,3.9,3.3,3.8,3.1,4.4,3.4,2.7,2.7,...,2.9,3.1,3.2,2.3,4.1,3.3,6.7,3.5,3.5,7.4
2023-08-01,3.6,3.2,4.1,3.4,3.9,3.2,4.5,3.5,2.8,2.8,...,3.0,3.0,3.0,2.5,4.0,3.4,7.0,3.5,3.5,7.5
2023-09-01,3.6,3.4,4.4,3.5,3.9,3.3,4.5,3.6,2.9,2.9,...,3.1,3.0,3.1,2.7,4.0,3.4,7.2,3.6,3.6,7.5
2023-10-01,3.6,3.8,4.6,3.6,3.9,3.3,4.4,3.7,2.9,3.0,...,3.2,3.1,3.1,2.8,4.2,3.4,7.4,3.7,3.7,7.6
2023-11-01,3.5,4.1,4.7,3.8,3.8,3.4,4.4,3.8,3.0,3.0,...,3.3,3.3,3.2,2.9,4.4,3.4,7.4,3.7,3.7,7.6

In [25]:
id_to_state = df_unemp['title'].str.replace('Unemployment Rate in ','').to_dict()

In [26]:
unemp_state.columns = [id_to_state[d] for d in unemp_state.columns]

In [27]:
unemp_state.columns

Index(['Austin-Round Rock, TX (MSA)', 'Detroit-Warren-Dearborn, MI (MSA)',
       'Chicago-Naperville-Elgin, IL-IN-WI (MSA)',
       'Seattle-Tacoma-Bellevue, WA (MSA)',
       'Dallas-Fort Worth-Arlington, TX (MSA)',
       'Atlanta-Sandy Springs-Roswell, GA (MSA)',
       'Houston-The Woodlands-Sugar Land, TX (MSA)',
       'Phoenix-Mesa-Scottsdale, AZ (MSA)', 'Jacksonville, FL (MSA)',
       'Tampa-St. Petersburg-Clearwater, FL (MSA)',
       ...
       'Pocatello, ID (MSA)', 'Alexandria, LA (MSA)',
       'Houma-Thibodaux, LA (MSA)', 'Oshkosh-Neenah, WI (MSA)',
       'Mount Vernon-Anacortes, WA (MSA)', 'Hinesville, GA (MSA)',
       'Ocean City, NJ (MSA)', 'Napa, CA (MSA)', 'Morristown, TN (MSA)',
       'Madera, CA (MSA)'],
      dtype='object', length=347)

In [29]:
unemp_state.tail()

,"Austin-Round Rock, TX (MSA)","Detroit-Warren-Dearborn, MI (MSA)","Chicago-Naperville-Elgin, IL-IN-WI (MSA)","Seattle-Tacoma-Bellevue, WA (MSA)","Dallas-Fort Worth-Arlington, TX (MSA)","Atlanta-Sandy Springs-Roswell, GA (MSA)","Houston-The Woodlands-Sugar Land, TX (MSA)","Phoenix-Mesa-Scottsdale, AZ (MSA)","Jacksonville, FL (MSA)","Tampa-St. Petersburg-Clearwater, FL (MSA)",...,"Pocatello, ID (MSA)","Alexandria, LA (MSA)","Houma-Thibodaux, LA (MSA)","Oshkosh-Neenah, WI (MSA)","Mount Vernon-Anacortes, WA (MSA)","Hinesville, GA (MSA)","Ocean City, NJ (MSA)","Napa, CA (MSA)","Morristown, TN (MSA)","Madera, CA (MSA)"
2023-07-01,3.5,3.0,3.9,3.3,3.8,3.1,4.4,3.4,2.7,2.7,...,2.9,3.1,3.2,2.3,4.1,3.3,6.7,3.5,3.5,7.4
2023-08-01,3.6,3.2,4.1,3.4,3.9,3.2,4.5,3.5,2.8,2.8,...,3.0,3.0,3.0,2.5,4.0,3.4,7.0,3.5,3.5,7.5
2023-09-01,3.6,3.4,4.4,3.5,3.9,3.3,4.5,3.6,2.9,2.9,...,3.1,3.0,3.1,2.7,4.0,3.4,7.2,3.6,3.6,7.5
2023-10-01,3.6,3.8,4.6,3.6,3.9,3.3,4.4,3.7,2.9,3.0,...,3.2,3.1,3.1,2.8,4.2,3.4,7.4,3.7,3.7,7.6
2023-11-01,3.5,4.1,4.7,3.8,3.8,3.4,4.4,3.8,3.0,3.0,...,3.3,3.3,3.2,2.9,4.4,3.4,7.4,3.7,3.7,7.6

In [30]:
# export unemp_state to csv
unemp_state.to_csv('../cleansed data/msa_unemp.csv')